<div class="page_title">cont</div>
<div class="content">

<h2 class="name"><%= @contest.name %></h2>

<%= @contest.start_date %><br>
<%= @contest.text %><br><br>

<div class="view">
  <%= @contest.view %><br>
</div>

</div>