// Place all the styles related to the web controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
  position:relative;
  
  min-height: 600px;
  max-width: 980px;

  margin: auto;
  
  border: solid #000 1px;
}

.menu{
  position:absolute;
  top:30px;left:0;right:0;
  height:30px;

  padding: 2px;

  background: #000;
  color: #fff;
}

.page_title{
  width: auto;
  
  position:absolute;
  top:0;left:0;right:0;
  height:30px;

  padding: 2px;
  
  color: #222;
  font-size: large;
}

.content{
  position:absolute;
  top:60px;left:0;right:0;
  
  padding: 3px;
}