<!DOCTYPE html>
<html>
  <head>
    <title>cont</title>
  </head>

  <body>
    <tr>
      <td><%= @contest.cont_id %></td>
      <td><%= @contest.name %></td>
      <td><%= @contest.start_date %></td>
    </tr>
  </body>
</html>
