<!DOCTYPE html>
<html>
  <head>
    <title>cont</title>
  </head>

  <body>
    <% @contests.each do |contest| %>
      <tr>
        <td><%= contest.cont_id %></td>
        <td><%= contest.name %></td>
        <td><%= contest.start_date %></td>
      </tr>
    <% end %>  </body>
</html>
