<!DOCTYPE html>
<html>
  <head>
    <title>list</title>
  </head>

  <body>
  list<br>
    <% @contests.each do |contest| %>
    <a href="/cont/<%= contest.cont_id %>">
    <tr>
      <td><%= contest.cont_id %></td>
      <td><%= contest.name %></td>
      <td><%= contest.start_date %></td>
    </tr>
    </a>
    <% end %>
  </body>
</html>
